$primary-color: #1D2A57;
$color-text: #333;
$green: #708F58;
$light-green: #F1FFE6;
$success: #4CAF50;
$white-color: #fff;
$label-color: #5C5C5C;
$text-red: #D94A4A;
$light-red: #FFF2F2;
$yellow: #FFCC00;
$light-yellow: #FFFFEA;
$menu-bg: #22356B;
$light-grey: #888888;
$border-color: #E0E0E0;
$light-blue-bg: #F6F8FF;
$gray-bg: #f1f1f1;
$light-blue: #4B5ACD;
$table-bg: #F6F8FF;
$table-head-text: #6B6B6B;
$table-border: #F2F2F2;
$text-orange: #FF6A21;
$placeholder: #929292;
$light-bg-blue: rgb(124, 137, 224, 0.1);
$rating-grey-bg:#E9E9E9;
$rating-green: #7EB63F;
$rating-light-green: #E1FFBF;
$rating-orange: #FF7A08;
$rating-light-orange: #FFF4E5;
$rating-green-2: #BDD62E;
$rating-light-green-2: #F7FFCC;
$light-yellow-bg: #FFD56B;
